$almostBlack: #222;
$darkGrey: #303030;

$blue: #375A7F;
$darkBlue: #28415b;

$lightGray: #EEE;
$lightGreen: #60D937;

@import 'site/creative';
@import 'app/app';

* {
	line-height: 1.5;
}
body {
	background: #FFF;
}
button, a, .btn:focus, 
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, .btn:active.focus, 
.btn.active.focus {
	outline: none;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.search-form {
	margin: 30px 0;
}

.table img {
	width: 64px;
}
.table-striped > tbody > tr:nth-child(odd) {
	background-color: $almostBlack;
}

.table thead tr  {
	background-color: #111;
}
.table thead tr td {
	padding-bottom: 30px;
}
.caret {
	cursor: pointer;
}
.rotate180 {
	transform:rotate(180deg);
}
#auth {
	padding-bottom: 30px;

	.alert {
		display: none;
	}
}

.service-box {
	.glyphicon {
		font-size: 64px;
	}
}


.site-wrapper {
	padding-top: 80px;
}









[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],.ng-cloak, .x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}
ng\:form { display: block; }
.ng-animate-shim { visibility:hidden; }
.ng-anchor { position:absolute; }
.ng-animate.item:not(.left):not(.right) {
  -webkit-transition: 0s ease-in-out left;
  transition: 0s ease-in-out left
}


