	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="name">Вес</label>
				<input
					type="number"
					ng-change="adc.change()"
					class="form-control"
					name="weight"
					id="weight"
					ng-model="antro.weight"
					>
			</div>
		</div>
	</div>	

	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="name">Талия</label>
				<input
					type="number"
					ng-change="adc.change()"
					class="form-control"
					name="waist"
					id="waist"
					ng-model="antro.waist"
					>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="name">Грудь</label>
				<input
					type="number"
					ng-change="adc.change()"
					class="form-control"
					name="chest"
					id="chest"
					ng-model="antro.chest"
					>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="name">Плечи</label>
				<input
					type="number"
					ng-change="adc.change()"
					class="form-control"
					name="shoulders"
					id="shoulders"
					ng-model="antro.shoulders"
					>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="name">Бицепс</label>
				<input
					type="number"
					ng-change="adc.change()"
					class="form-control"
					name="biceps"
					id="biceps"
					ng-model="antro.biceps"
					>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="name">Предплечье</label>
				<input
					type="number"
					ng-change="adc.change()"
					class="form-control"
					name="forearm"
					id="forearm"
					ng-model="antro.forearm"
					>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="name">Шея</label>
				<input
					type="number"
					ng-change="adc.change()"
					class="form-control"
					name="neck"
					id="neck"
					ng-model="antro.neck"
					>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="name">Бедро</label>
				<input
					type="number"
					ng-change="adc.change()"
					class="form-control"
					name="hip"
					id="hip"
					ng-model="antro.hip"
					>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="name">Ягодицы</label>
				<input
					type="number"
					ng-change="adc.change()"
					class="form-control"
					name="buttocks"
					id="buttocks"
					ng-model="antro.buttocks"
					>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="name">Икры</label>
				<input
					type="number"
					ng-change="adc.change()"
					class="form-control"
					name="calves"
					id="calves"
					ng-model="antro.calves"
					>
			</div>
		</div>

	</div>