<div class="jumbotron">
	<div class="container">
		<h1>Users</h1>
	<pre>{{ orderKey }}</pre>
	<pre>{{ ascdesc }}</pre>
	<pre>{{ eye | json }}</pre>
	<form
		class="form-inline search-form"
		name="searchForm">
		<div class="form-group">
			<button
			type="button"
			class="btn btn-primary"
			ng-model="ascdesc"
			btn-checkbox
			btn-checkbox-true="1"
			btn-checkbox-false="0">
			Sort
			</button>
			
			<!-- Single button -->
			<div 
				class="btn-group" 
				dropdown 
				is-open="status.isopen">
				<button 
					type="button" 
					class="btn btn-primary dropdown-toggle" 
					dropdown-toggle 
					ng-disabled="disabled">
					Button dropdown 
					<span class="caret"></span>
				</button>
				<ul 
					class="dropdown-menu" 
					role="menu"
					ng-init="orderKey='name'">
					<li ng-click="orderKey='name'">
						<a>Name</a>
					</li>
					<li ng-click="orderKey='email'">
						<a>Email</a>
					</li>
					<li ng-click="orderKey='age'">
						<a>Age</a>
					</li>
					<li ng-click="orderKey='gender'">
						<a>Gender</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="form-group">
			<label for="searchName">
				Search Name
			</label>
			<input
			type="text"
			class="form-control"
			id="searchName"
			placeholder="Search Name"
			ng-model="searchFullName">
		</div>
	</form>
	<div class="clear"></div>
	<table class="table table-striped">
		<thead>
			<td>Name</td>
			<td>Email</td>
			<td>Avatar</td>
			<td>Balance</td>
			<td>Age</td>
			<td>Gender 2</td>
			<td>
				<span 
					class="dropdown" 
					dropdown 
					on-toggle="toggled(open)">
					<a 
						href 
						class="dropdown-toggle" 
						dropdown-toggle>
						Eye color
					</a>
					<ul class="dropdown-menu" ng-init="eye.eyeColor=''">
						<li 
							ng-click="eye.eyeColor=''"
						>
							<a href>any</a>
						</li>
						<li 
							ng-repeat="eye in ['blue','green','brown']"
							ng-click="$parent.eye.eyeColor=eye"
						>
							<a href>{{eye}}</a>
						</li>
					</ul>
				</span>
			</td>
			<td>
				Registered 
				<span 
					class="caret"
					ng-class="{'rotate180':usc.reg_desc, '': !usc.reg_desc}"
					ng-click="usc.reg_desc=!usc.reg_desc"
				></span>
			</td>
		</thead>
		<tbody>
			<tr 
				ng-repeat="user in usc.users 
							| filter: searchFullName 
							| filter: eye 
							| orderBy: orderKey : ascdesc
							| orderBy: usc.registered : usc.reg_desc "
			>
				<td>{{user.name}}</td>
				<td>{{user.email}}</td>
				<td>
					<img
					src="{{user.picture}}"
					alt="{{user.name}}-avatar">
				</td>
				<td>{{user.balance | number : 2}}</td>
				<td>{{user.age}}</td>
				<td>{{user.gender}}</td>
				<td>{{user.eyeColor}}</td>
				<td>{{user.registered}}</td>
			</tr>
		</tbody>
	</table>
</div>
<pre>{{ usc | json }}</pre>
</div>